@model Menu_Management.Models.register_user
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "Register";

}
<style>
    .error {
        color: red
    }
</style>

<h2 style="color:white">Register</h2>

<div>
    @using (Html.BeginForm("SaveRegisterDetails", "Account"))
    {
        <div style="color:red;">@Html.ValidationSummary(true, "Registration Failed")</div>
        <div class="row">
            <!--Show details are saved successfully message-->
            <div class="col-lg-12" style="font-weight:bold; color:red">@ViewBag.Message</div>
        </div><br />
        <div class="row" style="font-weight:bold; color:white; font-size:large">
            <div class="col-lg-2">@Html.LabelFor(a => a.FIRST_NAME, "First Name")</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.FIRST_NAME, new { @class = "form-control" })</div>
        </div><br />
        <div class="row" style="font-weight:bold; color:white; font-size:large">
            <div class="col-lg-2">@Html.LabelFor(a => a.LAST_NAME, "Last Name")</div>
            @Html.ValidationMessageFor(x => x.LAST_NAME, "", new { @class = "error" })
            <div class="col-lg-10">@Html.TextBoxFor(a => a.LAST_NAME, new { @class = "form-control" })</div>
            @Html.ValidationMessageFor(a => a.LAST_NAME)
        </div><br />
        <div class="row" style="font-weight:bold; color:white; font-size:large">
            <div class="col-lg-2">@Html.LabelFor(a => a.EMAIL_ID, "Email-Id")</div>
            @Html.ValidationMessageFor(x => x.EMAIL_ID, "", new { @class = "error" })
            <div class="col-lg-10">@Html.TextBoxFor(a => a.EMAIL_ID, new { @class = "form-control" })</div>
        </div><br />
        <div class="row" style="font-weight:bold; color:white; font-size:large">
            <div class="col-lg-2">@Html.LabelFor(a => a.PASSWORD, "Password")</div>
            @Html.ValidationMessageFor(x => x.PASSWORD, "", new { @class = "error" })
            <div class="col-lg-10">@Html.TextBoxFor(a => a.PASSWORD, new { @class = "form-control", type = "Password" })</div>

        </div><br />
        <div class="row" style="font-weight:bold; color:white; font-size:large">
            <div class="col-lg-2"><label>Confirm Password</label></div>
            @Html.ValidationMessageFor(x => x.CONFIRM_PASSWORD, "", new { @class = "error" })
            <div class="col-lg-10">@Html.TextBoxFor(a => a.CONFIRM_PASSWORD, new { @class = "form-control", type = "Password" })</div>

        </div><br />
        <div class="row" style="font-weight:bold; color:white; font-size:large">
            <div class="col-lg-2">@Html.LabelFor(a => a.PHONE, "Phone Number")</div>
            @Html.ValidationMessageFor(x => x.PHONE, "", new { @class = "error" })
            <div class="col-lg-10">@Html.TextBoxFor(a => a.PHONE, new { @class = "form-control" })</div>

        </div><br />
        <div class="row" style="font-weight:bold; color:white; font-size:large">
            <div class="col-lg-2">@Html.LabelFor(a => a.GENDER, "Gender")</div>
            @Html.ValidationMessageFor(x => x.GENDER, "", new { @class = "error" })
            <div class="col-lg-10">
                @Html.RadioButtonFor(a => a.GENDER, "Male", false) @Html.Label("Male")<br />
                @Html.RadioButtonFor(a => a.GENDER, "Female", false)@Html.Label("FeMale")
            </div>
            <div class="col-lg-10"></div>
            @Html.ValidationMessageFor(a => a.GENDER)
        </div><br />
        <input type="submit" value="Register" class="btn btn-primary" />
    }

</div>

